#!/usr/bin/make -f
export GO111MODULE := off
#
# This debian/rules uses debhelper.
#

export DEB_BUILD_HARDENING=1
# Uncomment this for verbose logging
#export DH_VERBOSE=1
export DH_GOPKG := github.com/danos/vyatta-service-dns

GOBUILDDIR := _build

%:
	 dh $@ --buildsystem=golang --with golang,vci,yang --builddirectory=$(GOBUILDDIR)

override_dh_auto_build: vet
	dh_auto_build

# We do not vet vendor code
vet:
	if go doc cmd/vet >/dev/null 2>&1; then \
		GOPATH=$(CURDIR)/$(GOBUILDDIR) go vet $$(find . -type f -name \*.go | \
		xargs dirname | sort -u | grep -v "/vendor/" | grep $(GOBUILDDIR)); \
	fi

override_dh_installsystemd:
	dh_installsystemd --name=dnsmasq,ddclient --no-enable --no-start

